<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Local Library</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Add additional CSS in static file -->
    {% load static %}
<!--    <link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
</head>
<body>
  <!--Main Navigation-->
  <header>
    <!-- Intro settings -->
    <style>
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 58px;
      }
      @media (max-width: 991px) {
        #intro {
          /* Margin to fix overlapping fixed navbar */
          margin-top: 45px;
        }
      }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" target="_blank" href="https://mdbootstrap.com/docs/standard/">
          <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="16" alt="" loading="lazy"
            style="margin-top: -3px;" />
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="{% url 'index' %}" >Home</a>
            </li>
          </ul>

          <ul class="navbar-nav d-flex flex-row">
            <!-- Icons -->
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow"
                target="_blank">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="https://www.facebook.com/mdbootstrap" rel="nofollow" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="https://twitter.com/MDBootstrap" rel="nofollow" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="https://github.com/mdbootstrap/mdb-ui-kit" rel="nofollow" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

    <!-- Jumbotron -->
    <div id="intro" class="p-5 text-center bg-light container-fluid vh-100 mx-auto">
      <h1 class="mb-3 h2">Welcome to Cape </h1>
      <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia</p>
      {% if user.is_authenticated %}
      <a >Welcome, {{user}}</a><br/>

         <a class="btn btn-primary m-2" href="{% url 'all-post' %}" role="button" rel="nofollow"
        target="_blank">go to blogs</a>
         <a class="btn btn-primary m-2"  role="button" rel="nofollow"
        target="_blank" href=" {% url 'logout' %}?next={{request.path}}">Logout</a>
               <a class="btn btn-primary m-2"  role="button" rel="nofollow"
        target="_blank" href=" {% url 'author-profile' user.pk %}">profile</a>
      {% else %}
      <a class="btn btn-primary m-2" href="{% url 'login' %}" role="button" rel="nofollow"
        target="_blank">Login</a>
      <a class="btn btn-primary m-2" href="{% url 'user-register' %}" target="_blank"
        role="button">Register</a>
      {% endif %}
    </div>
    <!-- Jumbotron -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->

  <!--Main layout-->

  <!--Footer-->
  <footer class="bg-light text-lg-start">
    <hr class="m-0" />
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      ©2021 Copyright:
      <a class="text-dark" href="{% url 'index' %}">cape.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->
</body>
</html>